
[V200R003C00]
#
 board add 0/4 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load flash:/portalpage.zip
#
 drop illegal-mac alarm
#
 wlan ac-global carrier id other ac id 0
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
acl number 2000  
 rule 5 permit source 10.30.10.0 0.0.0.255 
 rule 10 permit source 10.30.20.0 0.0.0.255 
 rule 15 permit source 10.30.30.0 0.0.0.255 
#
ip pool vlan310
 gateway-list 10.30.10.254 
 network 10.30.10.0 mask 255.255.255.0 
 excluded-ip-address 10.30.10.252 10.30.10.253 
 dns-list 114.114.114.114 
#
ip pool vlan320
 gateway-list 10.30.20.254 
 network 10.30.20.0 mask 255.255.255.0 
 excluded-ip-address 10.30.20.252 10.30.20.253 
 dns-list 114.114.114.114 
#
ip pool vlan330
 gateway-list 10.30.30.254 
 network 10.30.30.0 mask 255.255.255.0 
 excluded-ip-address 10.30.30.252 10.30.30.253 
 dns-list 114.114.114.114 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 117.117.117.2 255.255.255.252 
 nat outbound 2000
#
interface GigabitEthernet0/0/1
 ip address 10.30.10.254 255.255.255.0 
 dhcp select global
#
interface GigabitEthernet0/0/2
 ip address 10.30.20.254 255.255.255.0 
 dhcp select global
#
interface GigabitEthernet4/0/0
 ip address 10.30.30.254 255.255.255.0 
 dhcp select global
#
interface GigabitEthernet4/0/1
#
interface GigabitEthernet4/0/2
#
interface GigabitEthernet4/0/3
#
interface NULL0
#
interface Tunnel0/0/0
 ip address 192.168.1.22 255.255.255.252 
 tunnel-protocol gre
 source 117.117.117.2
 destination 2.2.2.2
#
interface Tunnel0/0/1
 ip address 192.168.1.26 255.255.255.252 
 tunnel-protocol gre
 source 117.117.117.2
 destination 116.116.116.2
#
ospf 1 
 area 0.0.0.0 
  network 192.168.0.0 0.0.255.255 
#
ip route-static 0.0.0.0 0.0.0.0 117.117.117.1
ip route-static 10.10.0.0 255.255.0.0 192.168.1.21
ip route-static 10.20.0.0 255.255.0.0 192.168.1.25
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return